<div class="jumbotron mt-4">
    <h1 class="display-4">Create your blog...</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad veritatis amet praesentium ratione animi quae, tempora dolorum exercitationem porro laboriosam, illum nulla molestias quos at. Odit ipsa dolor soluta aut.Ullam nam dicta consequuntur illo vitae a inventore atque qui commodi harum! Culpa qui quibusdam quia reiciendis magni maiores, itaque odio! Vero facere voluptas expedita alias. Necessitatibus ea odit molestiae!</p>
    <hr class="my-4">
    <a class="btn btn-dark btn-lg" [routerLink]="['/home']" role="button">Go Back to Home Page</a>
    
  </div>