<div class="row">
  <div class="col-md-12 text-center">
    <h3>All blogs</h3>
  </div>
</div>
<hr>

<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let blog of allBlogs">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">
          {{blog.title | uppercase}}
        </h5>
        <p class="card-text">Catagory:{{blog.catagory}}</p>
        <p class="card-text">Author:{{blog.author}}</p>
        <p class="card-text">{{blog.description}}</p>
      </div>
      <div class="card-footer text-muted">
        <button class="btn btn-info"><a [routerLink]="['/blog',blog.blogId]"></a>View</button>
      </div>
    </div>
  </div>
</div>
